* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: #066da1;
	--secondary: #b8b8b8;
	--bg-white: #ffffff;
	--bg-slate-50: #f9f9f9;
	--bg-slate-100: #f1f1f1;
	--bg-slate-200: #c1c1c1;
	--text-slate-900: #1a1a1a;
	--text-slate-800: #2a2a2a;
	--text-slate-700: #3a3a3a;
	--text-gray-700: #cccccc;
}

body {
	background-color: var(--bg-slate-50);
}

.centerbox {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	h1 {
		color: var(--text-slate-700);
	}
}
