@tailwind base;
@tailwind components;
@tailwind utilities;

.cool-background {
	background: url('./static/images/auth-bg.jpg') top center no-repeat;
	background-size: cover;
}

.bg-black-gradient-tr {
	background: url('./static/images/bg-black-gradient-top-right.jpg') top center no-repeat;
	background-size: cover;
}

input:checked + div {  
	@apply border-blue-500;  
}

input:checked + div svg {  
	@apply block;  
}

.bg-nature {
	background-color: red;
}